<h2>Current Events</h2>
<% @all_events.each do |event| %>
	<p><%= event.title %></p>
	<p><%= event.description %></p>
	<p><%= event.url %><p/>
	<p><%= link_to "Delete This Event", {:action=>'destroy', :id=>event.id}, :confirm=>"Are you sure", :method=>'delete' %>
<% end %> 


<!-- {:action=>'destroy', :id=>@discussion}, :confirm=>"Are you sure", :method=>'delete' -->
