<!-- <p><%= f.label :PublishTime, "Start Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>
<p><%= f.label :EndPublishTime, "End Time" %></p>
<p><%= f.text_field :attributeunknowwithformr %><p/>

 -->



<table border="1">
<tr>
  <th>Week 1</th>
<td>Monday. Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday</td>
</tr>
<tr>
  <th>Week 2</th>
<td>Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday</td>
</tr>
  <th>Week 3</th>
<td>Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday</td>
</tr>
</table>
