/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 nav{
  font-family: 'Lato', sans-serif;
  height: 2.5em;
  background-color: black;
  color: white;
  text-decoration: none;

  .white_bar{
    margin-left: 0.5%;
    display: inline-block;
    width: 0.35%;
    background-color: white;
    height: 2em;
  }

  .right_side_nav_links{
    float: right;
    margin: 0.5em 5% auto auto;
    display: inline-block;
  }

  .lost_password{
    font-size: 0.2em;
  }

  .logo{
    margin: auto;
    font-size: 1.3em;
    display: inline-block;
    margin: 0.1em auto auto 0.5%;
  }

  a{
    color:white;
    text-decoration: none;
  }
}

.main{
  margin: auto;
  width: 80%;
}

// *{
//   border: red 1px solid;
// }

.day_links:hover {
  color: white;
}

.day_links {
  color: purple;
}
