/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */


 $accent: #999999;

 html{
  font-family: 'Droid Sans', sans-serif;
}

body{
  margin: 0;
}


.logged_in_name{
  display: inline-block;
  color: $accent;
  margin-left: 15em;
}
.intro_block{
  display: block;
  // padding:1px;
  // border:1px solid #021a40;
  // background-color: $accent;
  margin: 3em auto 5em auto;
  width: 55%;
  img{
    -moz-box-shadow: -3px 2px 6px #999999;
    -webkit-box-shadow: -3px 2px 6px #999999;
    box-shadow: -3px 2px 6px #999999;
    display: block;
    margin: auto;
    width: 80%;
  }
  .plato_text_block{
    font-family: cursive;
    font-size: 1.2em;
    padding: 0.5em;
    text-align: center;
    width: 85%;
    display: block;
    margin: auto;
    background-color: white;
    height: em;
    // line-height: 7em;
  }
}

// *{
//   border: red 1px solid;
// }

nav{
  height: 2.5em;
  background-color: black;
  color: white;
  text-decoration: none;
  -moz-box-shadow: -3px 2px 6px $accent;
  -webkit-box-shadow: -3px 2px 6px $accent;
  box-shadow: -3px 2px 6px $accent;

  .white_bar{
    margin-left: 0.5%;
    display: inline-block;
    width: 0.35%;
    background-color: white;
    height: 2em;
  }

  .right_side_nav_links{
    float: right;
    margin: 0.5em 5% auto auto;
    display: inline-block;

    a{
      color: $accent;
    }
  }


  .lost_password{
    font-size: 0.2em;
  }

  .logo{
    margin: auto;
    font-size: 1.3em;
    display: inline-block;
    margin: 0.1em auto auto 0.5%;
  }

  a{
    color:white;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }
}

.day_of_week{
  display: inline-block;
  margin-bottom: 0.5em;
}

.main{
  margin: auto;
  width: 80%;
}

.created_and_updated{
  color: $accent;
}

.comment_email{
  color: $accent;
  margin: 0.25em auto auto auto;
}

code{
  margin: 5px;
  font-weight: bold;
}

.text_area{
  width: 90%;
}

.edit_input{
  height: 55em;
}

.this_challenge{
  margin-top: 1em;
  padding: 1em;
  -moz-box-shadow:inset -3px 2px 6px #000000;
  -webkit-box-shadow:inset -3px 2px 6px #000000;
  box-shadow:inset -3px 2px 6px #000000;
  float: left;
  width: 55%;

  .true_box{
    padding: 0.25em;
    border:none 5px #000000;
    -moz-border-radius-topleft: 45px;
    -moz-border-radius-topright:45px;
    -moz-border-radius-bottomleft:46px;
    -moz-border-radius-bottomright:45px;
    -webkit-border-top-left-radius:45px;
    -webkit-border-top-right-radius:45px;
    -webkit-border-bottom-left-radius:46px;
    -webkit-border-bottom-right-radius:45px;
    border-top-left-radius:45px;
    border-top-right-radius:45px;
    border-bottom-left-radius:46px;
    border-bottom-right-radius:45px;
    background-color: #B61D0C;
    color: white;
    display: inline-block;
  }

  .false_box{
    padding: 0.25em;
    border:none 5px #000000;
    -moz-border-radius-topleft: 45px;
    -moz-border-radius-topright:45px;
    -moz-border-radius-bottomleft:46px;
    -moz-border-radius-bottomright:45px;
    -webkit-border-top-left-radius:45px;
    -webkit-border-top-right-radius:45px;
    -webkit-border-bottom-left-radius:46px;
    -webkit-border-bottom-right-radius:45px;
    border-top-left-radius:45px;
    border-top-right-radius:45px;
    border-bottom-left-radius:46px;
    border-bottom-right-radius:45px;
    background-color: #31B60C;
    color: white;
    display: inline-block;
  }
}

.challenge_comment_area{
  margin-top: 2em;
  float: right;
  width: 40%;
  display: block;
}

.challenge_nav{
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
  -webkit-border-bottom-left-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  padding: 0 0.5em 0.5em 0.5em;
  float: right;
  margin-top: 0em;
  margin-right: -7%;
  background-color: black;
  a{
    text-decoration: none;
    color: $accent;
  }
  a:hover{
    color: white;
  }
}

// .each_challenge_link{

// }

#challenge_index{
  margin-top: 1em;
  padding: 1.5em;
  -moz-box-shadow:inset -3px 2px 6px #000000;
  -webkit-box-shadow:inset -3px 2px 6px #000000;
  box-shadow:inset -3px 2px 6px #000000;
  float: left;
  width: 60%;

  h1{
    margin-top: 0;
    padding-top: 0;
  }



  :nth-child(even){
    padding: 0.5em;
    background-color: #F5F5F5;
    white-space: nowrap;
    overflow: hidden;
    a{
      background-color: #F5F5F5;
      color: black;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  :nth-child(odd){
    padding: 0.5em;
    background-color: white;
    a{
      background-color: white;
      color: black;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  .true_box{
    font-size: 0.75em;
    border:none 5px #000000;
    -moz-border-radius-topleft: 45px;
    -moz-border-radius-topright:45px;
    -moz-border-radius-bottomleft:46px;
    -moz-border-radius-bottomright:45px;
    -webkit-border-top-left-radius:45px;
    -webkit-border-top-right-radius:45px;
    -webkit-border-bottom-left-radius:46px;
    -webkit-border-bottom-right-radius:45px;
    border-top-left-radius:45px;
    border-top-right-radius:45px;
    border-bottom-left-radius:46px;
    border-bottom-right-radius:45px;
    background-color: #B61D0C;
    color: white;
    display: inline-block;
  }

  // .false_box{
  //   font-size: 0.75em;
  //   border:none 5px #000000;
  //   -moz-border-radius-topleft: 45px;
  //   -moz-border-radius-topright:45px;
  //   -moz-border-radius-bottomleft:46px;
  //   -moz-border-radius-bottomright:45px;
  //   -webkit-border-top-left-radius:45px;
  //   -webkit-border-top-right-radius:45px;
  //   -webkit-border-bottom-left-radius:46px;
  //   -webkit-border-bottom-right-radius:45px;
  //   border-top-left-radius:45px;
  //   border-top-right-radius:45px;
  //   border-bottom-left-radius:46px;
  //   border-bottom-right-radius:45px;
  //   background-color: #31B60C;
  //   color: white;
  //   display: inline-block;
  // }
}

.each_challenge_link{
  overflow: hidden;
}

#challenge_heads_up{
  padding: 0.5em;
  background-color: #F5F5F5;
  text-align: center;
}

#right_nav{
  margin-top: 3em;
  float: right;
  width: 30%;
  img{
    width: 40%;
  }
}

.day_links:hover {
  color: white;
}

.day_links {
  color: purple;
}

.destroy_link{
  a{
    color: red;
  }
}

.core_box {
  font-size: 0.75em;
  border:none 5px #000000;
  -moz-border-radius-topleft: 45px;
  -moz-border-radius-topright:45px;
  -moz-border-radius-bottomleft:46px;
  -moz-border-radius-bottomright:45px;
  -webkit-border-top-left-radius:45px;
  -webkit-border-top-right-radius:45px;
  -webkit-border-bottom-left-radius:46px;
  -webkit-border-bottom-right-radius:45px;
  border-top-left-radius:45px;
  border-top-right-radius:45px;
  border-bottom-left-radius:46px;
  border-bottom-right-radius:45px;
  background-color: #B61D0C;
  color: white;
  display: inline-block;
  padding: .5em;
}


// footer {
//   clear:both;
//   background:#cc9;
// }
