.plato

.todays_events
  color: FireBrick
  width: 50%
  float: left
  h1
    color: DarkRed
  h2
    color: red
    background-color: MistyRose
    width: 50%
    text-align: center
    padding-top: 1%
    padding-bottom: 1%
    border-radius: 15px
  h4
    margin-top: 4%
    margin-bottom: 2%

.weeks_events
  color: DarkSlateBlue
  width: 50%
  float: left
.week_event
  color: teal
  width: 50%
  display: inline-block
  float: left
  padding-bottom: 2%
  h4
    margin-top: 0
    margin-bottom: 2%
.day
  color: blue
  clear: both
  text-align: center
  background-color: lavender
  border-radius: 15px
  h3
    padding-top: 1%
    padding-bottom: 1%
    margin-bottom: 2%
