.logo

nav
  a
    padding-right: 2em

.event
  width: 15%
  float: left
  background-color: PowderBlue
  border-radius: 16px
  margin: 1em

.phase_number
  margin: 0
  clear: left
  background-color: Black
  color: White
  border-radius: 16px
  width: 80%
  padding-left: 4em
  font-size: 3em
  text-align: left
  margin-bottom: 1em
  padding-bottom: 10px


.week_number
  margin: 0
  padding-bottom: 1em
  background-color: Gray
  color: white
  border-radius: 16px
  width: 20%
  padding-left: 2em

.day_number
  width: 10%


.week_number
  clear: left
  padding-top: 15px

.todays_challenges
  h1
    text-align: center
    margin-bottom: 10%
  width: 35%
  float: right
  .animated
    text-align: left
    .challenge_name
      margin: 0
      padding-top: 1em
    a
      color: black
    a:hover
      text-shadow: 0em 0em 1.5em teal
      color: blue


.todays_events
  color: FireBrick
  width: 25%
  float: left
  h1
    color: DarkRed
  h2
    font-size: 1.3em
    color: red
    background-color: MistyRose
    width: 80%
    text-align: center
    padding-top: 1%
    padding-bottom: 1%
    border-radius: 15px
  h4
    margin-top: 4%
    margin-bottom: 2%

.weeks_events
  color: DarkSlateBlue
  text-align: center
  width: 40%
  float: right
.week_event
  color: teal
  width: 50%
  display: inline-block
  float: left
  padding-bottom: 5%
  h4
    margin-top: .3em
    margin-bottom: .6em
.day
  color: blue
  clear: both
  text-align: center
  h3
    margin-left: 16%
    text-align: center
    background-color: lavender
    border-radius: 15px
    width: 70%
    padding-top: 1%
    padding-bottom: 1%
    margin-bottom: 2%

.submit_challenge_button
  color: #ffffff
  background-color: #428bca
  border-color: #428bca
  display: inline-block
  padding: 6px 10px
  margin-bottom: 0
  font-size: 14px
  font-weight: 500
  line-height: 1.428571429
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 4px

.form_control
  width: 40%
  height: 1em
  padding: 8px 12px
  font-size: 14px
  line-height: 1.428571429
  color: #555555
  vertical-align: middle
  background-color: #ffffff
  border: 1px solid #cccccc
  border-radius: 4px

#challenge_index
  .challenge_complete
    font-size: .9em
    padding: .4em
    background-color: LimeGreen
    display: inline-block
    color: white
    border-radius: 16px
    a
      background-color: Green
      padding: .4em
      border-radius: 16px
      color: white


